* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: cursive;
}

header {
    display: flex;
    height: 70px;
    background-color: rgb(253, 245, 98);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.titulo {
    margin: 20px;
}

nav a {
    font-weight: bold;
    padding: 15px;
}

nav a:hover {
    color: #fff
}

.foto {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.image {
    height: 350px;
    /*float: left;
    margin:auto;*/

}

.titu {
    text-align: center;
    margin-top: 20px;
}

p {
    padding: 10px;
    text-align: justify;
    margin-top: 15px;
    margin-left: 75px;
    margin-right: 75px;
}


