* {
  margin: 0%;
  padding: 0%;
}

body {
  padding: px;
  background-color: rgb(255, 255, 255);
}

.header {
  background: #0a7e3f;
  width: 100%;
  border-bottom: 5px solid #000000;
}

.header h1 {
  color: #d6f7ca;
  font-size: 49px;
  padding: 60px;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: 1200;
  font-style: italic;
}

/* The side navigation menu */
.sidebar {
  margin-left: 80%;
  padding: 0;
  width: 19.8%;
  background-color: #348d56;
  position: fixed;
  height: 975px;
  overflow: scroll;
  border-left: 5px solid #000000;
  position: absolute;
}

/* Sidebar links */
.sidebar p {
  display: block;
  color: rgb(255, 255, 255);
  padding: 16px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
  text-align: justify;
}

.sidebar h2 {
  text-align: center;
  color: #fffcd1;
  padding: 16px;
}

.sidebar h3 {
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 16px;
}

.sidebar h4 {
  text-align: center;
  color: rgb(216, 203, 185);
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  width: 30%;
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

footer {
  text-align: center;
  padding: 12px;
  background-color: #348d6e;
  color: #d6f7ca;

}


.menu {
  margin-right: 20%;
  display: flex;
  margin-left: 2%;
  overflow: hidden;
  margin-top: -3%;
}

.menu a {
  color: #d6f7ca;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
}

.menu a:hover {
  background-color: #0b9248;
  color: #ffffff;
  border-radius: 20px;
}

.bar {
  margin-top: 2.3%;
  color: #b7ff9d;
}

.caja {
  display: block;
  width: 76.9%;
  height: 920px;
  background-color: rgb(206, 230, 140);
  border: 5px solid rgb(255, 255, 255);
  padding: 25px;
}

.caja h1 {
  text-align: center;
  color: rgb(7, 139, 2);
  padding: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.caja h2 {
  text-align: left;
  color: rgb(13, 158, 90);
  padding: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 4%;
}

.caja h3 {
  text-align: justify;
  color: rgb(23, 36, 0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 5%;
  margin-right: 5%;
}

/*referencias
https://www.bbva.com/es/sostenibilidad/que-son-los-biocombustibles-una-alternativa-sostenible/#:~:text=El%20origen%20de%20los%20biocombustibles%20se%20remonta,producci%C3%B3n%20y%20detonante%20de%20la%20motorizaci%C3%B3n%20norteamericana.
https://www.primagas.es/blog/biocombustibles
*/